.custom-background-1 {
    background:  linear-gradient(180deg, rgba(19, 19, 24, 0.472) 100%, rgba(16, 16, 16, 0) 100%), url("/images/banner.png");
    background-size: cover;
    background-position: center;
}